/* Police */
@font-face {
    font-family: 'robotoregular';
    src: url('police/roboto-regular-webfont.woff2') format('woff2'),
         url('police/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotobold';
    src: url('police/roboto-bold-webfont.woff2') format('woff2'),
         url('police/roboto-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotomedium';
    src: url('police/roboto-medium-webfont.woff2') format('woff2'),
         url('police/roboto-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoregular';
    src: url('police/roboto-regular-webfont.woff2') format('woff2'),
         url('roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* Eléments principaux */

body
{
    font-family: 'robotoregular', sans-serif;
    width: 100%;
    margin: auto;
    
}


/* Header */

header
{
    display: flex;
    justify-content: space-between;
    margin: 3px 3px 3px 1px;
}

nav
{
    padding-top: 43px;
    margin-right: 5px;
}

nav a
{
    padding-left: 20px;
    text-decoration: none;
    color: #000;
}


/* Section */
/* --Bannière */

#banniere
{
    background-color: darkmagenta;
    background-image: url(Images/backgroung_image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#banniere img
{
 width: 200px;
}

/* --Contenu */

#contenu
{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 50px;
}

#description
{
    text-align: center;
    margin-top: 50px;
  
}

#services
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
}

.element
{
    width: 20%;
    margin: 30px;
    text-align: center;
}

.element p
{
    text-align: center;
}

#commentaire
{
    width: 50%;
    margin: auto;
    text-align: center;
}

#commentaire span
{
    font-size: 0.8em;
}


/* Footer */

footer
{
    background-color: rgb(91,53,157);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#localisation
{
    padding-top: 25px;
}

.fab
{
    margin-top: 20px;
    margin-right: 20px;
    font-size: 25px;
}

.fa-instagram
{
    font-size: 30px; /* Instagram trop haut */
}

/* --Info */

#info
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    
}

h4
{
    opacity: 50%;
    margin-bottom: 0;
}

#coordonnees p
{
    margin-left: 10px;
}



